:root {
  --earthy-blue: rgb(52, 56, 106);
  --earthy-green: rgb(86, 143, 120);
  --earthy-teal: rgb(157, 188, 152);
  --dark-earthy-teal-blue: rgb(99, 136, 137);
  --seafoam-green: rgb(159, 226, 191);
  --sea-green: rgb(143, 188, 143);
  --light-sage: rgb(168, 195, 172);
  --light-peach: rgb(232, 161, 155);
  --light-green: rgb(203, 214, 203);
  --leafy-green-dark: rgb(59, 75, 49);
  --light-orange: rgb(232, 161, 155);
}
* {
  box-sizing: border-box;
}
body {
  background-image: url(/Other\ Files/Rhubarb-whitespace-small.jpg);
  z-index: 1;
  color: var(--earthy-blue);
  display: grid;
  gap: 10px 0; 
  grid-template-areas: 
  'intro intro intro intro intro'
  'searchBtns . modal modal . '
  'burnBtn prev carousel nxt . ';
  font-family: fantasy; 
  height: 100%;
  width: 100%;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  animation: fadeInOut 4s; 
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


#intro {
  grid-area: intro;
  background-image: url('/Other\ Files/fruit-whitespace-small.jpg');
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.641));
  background-size: cover;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: -10px;
  margin-left: -7px;
  color: rgb(33, 38, 104);
  border-bottom: 10px solid var(--light-green);
}

.bold {
  font-family: cursive;
  font-size: larger;
  color: rgb(12, 21, 142);
}
.bold:hover {
  color: rgb(12, 21, 142);

}
#intro > h1 {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.359);
  font-size: 40px;
}
#intro > h1:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
#intro > h2 {
  background-color: white;
}
#intro > h2:hover {
  color: rgb(1, 1, 73)
}

#idliketoBTNS {
  grid-area: searchBtns;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: fantasy; 
  text-align: center;
  align-items: center;
}
#byName {
  background-color: var(--light-green);
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  width: 110px;
  height: 110px;
  color: var(--leafy-green-dark);
  box-shadow: 10px 5px 10px rgb(252, 224, 176);
  padding: 10px;
}
#byName:hover {
  box-shadow: 10px 5px 10px var(--light-orange);
  font-weight: 900;
}
#byIngredient {
  background-color: var(--light-green);
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  width: 110px;
  height: 110px;
  color: var(--leafy-green-dark);
  box-shadow: 10px 5px 10px rgb(252, 224, 176);
  padding: 10px;
}
#byIngredient:hover {
  box-shadow: 10px 5px 10px var(--light-orange);
  font-weight: 900;
}
#desserts {
  grid-area: dessert;
  align-content: start;
  align-self: center;
  background-color: var(--light-green);
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  width: 110px;
  height: 110px;
  color: var(--leafy-green-dark);
  box-shadow: 10px 5px 10px rgb(252, 224, 176);
  padding: 10px;
}

#desserts:hover {
  box-shadow: 10px 5px 10px var(--light-orange);
  font-weight: 900;
}

dt {
  color: navy;
  text-decoration: underline;
  font-family: fantasy; 
}

#inputkw {
  display: none;
}
#inputI {
  display: none;
}
#dessertResults {
  display: none;
}


input[type="submit"] {
  background-color: var(--light-green);
  border: 3px solid var(--earthy-green);
  color: var(--leafy-green-dark);
  box-shadow: 10px 5px 10px rgb(252, 224, 176);
  padding: 10px;
  border-radius: 50px;
}

input[type='text'] {
  background-color: white;
  border: 2px solid var(--leafy-green-dark);
  border-radius: 10px;
  height: 35px;
  margin-bottom: 5px;
}

.back {
  background-color: var(--light-green);
  border: 3px solid var(--earthy-green);
  color: var(--leafy-green-dark);
  box-shadow: 10px 5px 10px var(--leafy-green-dark);
  border-radius: 50px;
  padding: 10px;
  height: 40px;
  width: 60px;
  align-self: center;
}

#back3 {
  align-self: start;
  justify-self: center;
  display: none;
  grid-area: modal;
  z-index: 1;
}

#modal {
  grid-area: modal;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.modal-textbox {
  grid-area: modal;
  background-image: url(/Other\ Files/cuttingboard.jpg);
  border-radius: 20px;
  border: 5px solid darkolivegreen;
  height: 400px;
  width: 400px;
  font-size: 23px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: var(--dark-earthy-teal-blue);
  box-shadow: 20px 5px 10px var(--light-peach);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
}
#modal-2 {
  display: none;
}

.modal-textbox:hover {
  box-shadow: 30px 5px 5px darkolivegreen; 
} 
.modal-textbox > h1 {
  font-weight: 400;
  margin-bottom: -10px;
}
.meal {
  font-family: fantasy;
  background-color: var(--light-sage);
  box-shadow: 10px 5px 5px var(--leafy-green-dark);
  border-radius: 10px;
  border: 1px solid rgb(14, 21, 14);
  height: 35px;
  width: auto;
  font-size: 25px;
  margin-top: 15px;
  font-weight: 300;
  align-content: center;
}
.diet {
  font-family: fantasy;
  background-color: var(--leafy-green-dark);
  box-shadow: 10px 5px 5px var(--light-sage);
  border-radius: 10px;
  border: 1px solid rgb(14, 21, 14);
  color: white;
  height: 35px;
  width: auto;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 300;
  align-content: center;
}


.meal:hover {
  background-color: pink;
  box-shadow: 10px 5px 5px darkolivegreen;
  cursor: pointer;
}
.diet:hover{
  background-color: pink;
  box-shadow: 10px 5px 5px darkolivegreen;
  cursor: pointer;
}

#resultsFromModalInput {
  grid-area: modal;
  display: none;
  text-align: center;
}

/* I need to move back button 3 to the center and get it to show up when i click back and choose a new option */


.carousel-container { 
  grid-area: carousel; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.images {
  border-radius: 10px;
  display: none;
  border: 10px solid rgb(107, 139, 107);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px white;
}
.images:hover {
  border: 10px solid var(--light-green);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px var(--leafy-green-dark);
}
.images:first-of-type {
  display: block;
}

.prev, .nxt {
  border: 1px solid var(--leafy-green-dark);
  background-color: var(--light-green);
  color: navy;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 3px 3px 3px var(--leafy-green-dark);
  z-index: 1;
  height: 40px;
  width: 40px;
  align-self: center;
  text-align: center;
}
.prev {
  grid-area: prev; 
  justify-self: end;
}

.nxt {
  grid-area: nxt;
  justify-self: start;
}

.prev:hover {
  cursor: w-resize;
  background: var(--leafy-green-dark);
  box-shadow: 3px 3px 3px 3px rgba(233, 72, 72, 0.669);
  color: white;
}
.nxt:hover {
  cursor: w-resize;
  background: var(--leafy-green-dark);
  box-shadow: 3px 3px 3px 3px rgba(233, 72, 72, 0.669);
  color: white;
}

#burnEnergy {
  grid-area: burnBtn;
  align-self: center;
  justify-self: center;
  height: 30%;
  background-color: rgb(43, 210, 228);
  color: navy;
  border: 3px solid navy;
  border-radius: 50px;
}
#burnEnergy:hover {
  background-color: navy;
  border: 3px solid rgb(43, 210, 228);
  color: rgb(43, 210, 228);
}


 @media only screen and (min-width: 622px) { 
  body {
    grid-template-columns: 1fr 1fr .25fr .25fr 1.1fr 2fr 1fr .25fr 1fr; 
    grid-template-rows: .125fr .25fr .25fr; 
    gap: 20px 10px; 
    grid-template-areas: 
    'intro intro intro intro intro intro intro intro intro'
    '. searchBtns . modal modal modal modal modal . '
    '. burnBtn . prev carousel carousel carousel nxt . ';
    background-image: url(/Other\ Files/Rhubarb-whitespace-med.jpg);
  }

  #intro{
    background-image: url(/Other\ Files/fruit-whitespace-med.jpg);
    background-position: 10% 38%;
  }
  #idliketoBTNS {
    justify-content: center;
  }
  #byName {
    margin-bottom: 30px;
    font-size: 16px;
  }
  #byIngredient {
    margin-bottom: 30px;
    font-size: 16px;
  }
  #desserts { 
    font-size: 16px;
  }
  .modal-textbox {
    width: 100%;
    height: 420px;
    font-size: 20px; 
  }
  .images {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px){
    body {
      grid-template-columns: 1fr 1fr .25fr 1fr 1fr 1fr 1fr; 
      grid-template-rows: .125fr .25 .25fr; 
      grid-template-areas: 
      'intro intro intro intro intro intro intro'
      '. searchBtns . modal modal modal . '
      '. burnBtn . carousel carousel carousel . ';
      background-image: url(/Other\ Files/Rhubarb-whitespace-lg.jpg);
  }
  #intro > h1 {
    background-color: rgba(255, 255, 255, 0);
  }
  #intro > h2 {
    background-color: rgba(255, 255, 255, 0);
  }
  .modal-textbox {
    width: 550px;
  }

  .images {
    width: 400px;
    height: 400px;
  }
  .prev {
    grid-area: carousel; 
    justify-self: start;
  }
  .nxt {
    grid-area: carousel;
    justify-self: end;
  }
  #burnEnergy {
    font-size: 18px;
    height: 40%;
    border-radius: 100px;
  }
  .meal {
    height: 40px;
    font-size: 30px;
  }
  .diet {
    height: 40px;
    font-size: 25px;
  }
} 

@media only screen and (min-width: 1280px){
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    'intro intro intro intro intro intro'
    '. searchBtns modal modal modal . '
    '. burnBtn carousel carousel carousel . ';
  }
  #intro { 
    font-size: 20px;
    background-image: url(/Other\ Files/fruit-whitespace.jpg);
    background-position: 10% 35%;
  }
  .images {
    width: 500px;
    height: 500px;
  }
  #byName {
    font-size: 18px;
  }
  #byIngredient {
    font-size: 18px;
  }
  #desserts { 
    font-size: 18px;
  }
  #burnEnergy {
    font-size: 20px;
    height: 40%;
  }
}

@media only screen and (min-width: 1450px){
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    'intro intro intro intro intro'
    '. searchBtns modal modal . '
    '. burnBtn carousel carousel . ';
  }
  #intro{
    background-image: url(/Other\ Files/fruit-whitespace.jpg);
    background-position: 10% 35%;
  }
  .images {
    width: 500px;
    height: 500px;
  }
  #burnEnergy {
    font-size: 20px;
    height: 200px;
    width: 90%;
  }
}

