:root {
  --earthy-blue: rgb(52, 56, 106);
  --earthy-green: rgb(86, 143, 120);
  --earthy-teal: rgb(157, 188, 152);
  --dark-earthy-teal-blue: rgb(99, 136, 137);
  --seafoam-green: rgb(159, 226, 191);
  --sea-green: rgb(143, 188, 143);
  --light-sage: rgb(168, 195, 172);
}
* {
  box-sizing: border-box;
}
body {
  background-color: pink;
  color: var(--earthy-blue);
  display: grid;
  gap: 10px 0; 
  grid-template-areas: 
  ' intro intro intro intro .  '
  'searchBtns . modal modal . '
  'burnBtn prev carousel nxt . ';
  font-family: fantasy; 
}

#desserts {
  grid-area: dessert;
  align-content: start;
  align-self: center;
  background-color: palevioletred;
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  color: white;
  box-shadow: 10px 5px 10px rgb(234, 2, 80);
  padding: 10px;
}

#desserts:hover {
  box-shadow: 10px 5px 10px rgb(13, 13, 207);
}

#intro {
  grid-area: intro;
  background-color: rgb(168, 195, 172);
  justify-content: center;
  text-align: center;
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  color: rgb(33, 38, 104)
}
.bold {
  font-family: cursive;
  font-size: larger;
  color: rgb(12, 21, 142);
}
#intro > h1 {
  text-decoration: underline;
}
#intro > h1:hover {
  color: var(--earthy-green);
}

#idliketoBTNS {
  grid-area: searchBtns;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: fantasy; 
  text-align: center;
  align-items: center;
}
#byName {
  background-color: palevioletred;
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  color: white;
  box-shadow: 10px 5px 10px rgb(234, 2, 80);
  padding: 10px;
}
#byName:hover {
  box-shadow: 10px 5px 10px rgb(13, 13, 207);
}
#byIngredient {
  background-color: palevioletred;
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  color: white;
  box-shadow: 10px 5px 10px rgb(234, 2, 80);
  padding: 10px;
}
#byIngredient:hover {
  box-shadow: 10px 5px 10px rgb(13, 13, 207);
}

dt {
  color: navy;
  text-decoration: underline;
  font-family: fantasy; 
}

#inputkw {
  display: none;
}
#inputI {
  display: none;
}
#dessertResults {
  display: none;
}


input[type="submit"] {
  background-color: palevioletred;
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  color: white;
  box-shadow: 10px 5px 10px rgb(234, 2, 80);
  padding: 10px;
}

input[type='text'] {
  background-color: white;
  border: 2px solid green;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 5px;
}

.back {
  background-color: palevioletred;
  border: 3px solid var(--earthy-green);
  border-radius: 50px;
  color: white;
  box-shadow: 10px 5px 10px rgb(234, 2, 80);
  padding: 10px;
  height: 40px;
  width: 60px;
  align-self: center;
}

#back3 {
  align-self: start;
  justify-self: center;
  display: none;
  grid-area: modal;
  z-index: 1;
}

#modal {
  grid-area: modal;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.modal-textbox {
  grid-area: modal;
  background-color: rgb(245, 245, 167);
  border-radius: 20px;
  border: 5px solid darkolivegreen;
  height: 400px;
  width: 400px;
  font-size: 23px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: var(--dark-earthy-teal-blue);
  box-shadow: 20px 5px 10px palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
}
#modal-2 {
  display: none;
}

.modal-textbox:hover {
  box-shadow: 30px 5px 5px darkolivegreen; 
} 
.modal-textbox > h1 {
  font-weight: 400;
  margin-bottom: -10px;
}
.meal {
  font-family: fantasy;
  background-color: var(--light-sage);
  box-shadow: 10px 5px 5px rgb(207, 144, 176);
  border-radius: 10px;
  border: 1px solid rgb(14, 21, 14);
  height: 35px;
  width: auto;
  font-size: 25px;
  margin-top: 15px;
  font-weight: 300;
  align-content: center;
}
.diet {
  font-family: fantasy;
  background-color: var(--light-sage);
  box-shadow: 10px 5px 5px rgb(207, 144, 176);
  border-radius: 10px;
  border: 1px solid rgb(14, 21, 14);
  height: 35px;
  width: auto;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 300;
  align-content: center;
}
/* *********
.recipe-title > a {
  text-decoration: none;
  color:rgb(14, 21, 14)
}

.recipe-title{
  text-decoration: none;
  color: aqua;
} */

/* a:-webkit-any-link { 
  text-decoration: none;
  text-decoration: none;
} */

.meal:hover {
  background-color: pink;
  box-shadow: 10px 5px 5px darkolivegreen;
  cursor: pointer;
}
.diet:hover{
  background-color: pink;
  box-shadow: 10px 5px 5px darkolivegreen;
  cursor: pointer;
}

#resultsFromModalInput {
  grid-area: modal;
  display: none;
  text-align: center;
}

/* I need to move back button 3 to the center and get it to show up when i click back and choose a new option */


.carousel-container { 
  grid-area: carousel; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.images {
  border-radius: 10px;
  display: none;
  border: 10px solid rgb(107, 139, 107);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px white;
}
.images:hover {
  border: 10px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px var(--earthy-blue);
}
.images:first-of-type {
  display: block;
}

.prev, .nxt {
  border: .5px solid white;
  background-color: var(--seafoam-green);
  color: var(--dark-earthy-teal-blue);
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 3px 3px 3px white;
  z-index: 1;
  height: 40px;
  width: 40px;
  align-self: center;
  text-align: center;
}
.prev {
  grid-area: prev; 
  justify-self: end;
}

.nxt {
  grid-area: nxt;
  justify-self: start;
}

.prev:hover {
  cursor: w-resize;
  background: var(--earthy-green);
  box-shadow: 3px 3px 3px 3px peachpuff;
  color: white;
}
.nxt:hover {
  cursor: e-resize;
  background: var(--earthy-green);
  box-shadow: 3px 3px 3px 3px peachpuff;
  color: white;
}

#burnEnergy {
  grid-area: burnBtn;
  align-self: center;
  justify-self: center;
  height: 30%;
  background-color: rgb(43, 210, 228);
  color: navy;
  border: 3px solid navy;
  border-radius: 50px;
}
#burnEnergy:hover {
  background-color: navy;
  border: 3px solid rgb(43, 210, 228);
  color: rgb(43, 210, 228);
}


 @media only screen and (min-width: 622px) { 
  body {
    grid-template-columns: 1fr 1fr .25fr .25fr 1.1fr 2fr 1fr .25fr 1fr; 
    grid-template-rows: .125fr .25fr .25fr; 
    gap: 20px 10px; 
    grid-template-areas: 
    ' . intro intro intro intro intro intro intro . '
    '. searchBtns . modal modal modal modal modal . '
    '. burnBtn . prev carousel carousel carousel nxt . ';
  }
  #idliketoBTNS {
    justify-content: center;
  }
  #byName {
    margin-bottom: 30px;
    font-size: 16px;
  }
  #byIngredient {
    margin-bottom: 30px;
    font-size: 16px;
  }
  #desserts { 
    font-size: 16px;
  }
  .modal-textbox {
    height: auto;
    width: 100%;
    font-size: 20px; 
  }
  .images {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px){
    body {
    grid-template-columns: 1fr 1fr .25fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: .125fr .25 .25fr; 
    grid-template-areas: 
    ' . intro intro intro intro intro . '
    '. searchBtns . modal modal modal . '
    '. burnBtn . carousel carousel carousel . ';
  }
  .modal-textbox {
    height: auto;
    width: 550px;
  }

  .images {
    width: 400px;
    height: 400px;
  }
  .prev {
    grid-area: carousel; 
    justify-self: start;
  }
  .nxt {
    grid-area: carousel;
    justify-self: end;
  }
  #burnEnergy {
    font-size: 18px;
    height: 40%;
    border-radius: 100px;
  }
  .meal {
    height: 40px;
    font-size: 30px;
  }
  .diet {
    height: 40px;
    font-size: 25px;
  }
} 

@media only screen and (min-width: 1280px){

  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    ' . intro intro intro intro . '
    '. searchBtns modal modal modal . '
    '. burnBtn carousel carousel carousel . ';
  }
  #intro { 
    font-size: 20px;

  }
  .images {
    width: 500px;
    height: 500px;
  }
  #byName {
    font-size: 18px;
  }
  #byIngredient {
    font-size: 18px;
  }
  #desserts { 
    font-size: 18px;
  }
  #burnEnergy {
    font-size: 20px;
    height: 40%;
  }
}

@media only screen and (min-width: 1450px){
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    ' . intro intro intro . '
    '. searchBtns modal modal . '
    '. burnBtn carousel carousel . ';
  }
  .images {
    width: 500px;
    height: 500px;
  }
  #burnEnergy {
    font-size: 20px;
    height: 200px;
    width: 90%;
  }
}

