:root {
  --earthy-blue: rgb(52, 56, 106);
  --earthy-green: rgb(86, 143, 120);
  --earthy-teal: rgb(157, 188, 152);
  --dark-earthy-teal-blue: rgb(99, 136, 137);
  --seafoam-green: rgb(159, 226, 191);
  --sea-green: rgb(143, 188, 143);
}
* {
  box-sizing: border-box;
}
body {
  background-color: pink;
  color: var(--earthy-blue);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr .25fr auto .25fr auto;
  grid-template-areas: 
  ' . intro intro intro . '
  'searchBtns . modal modal . '
  'burnBtn prev carousel nxt . ';
  /* width: 100%;
  height: 100%; */
}
#inputkw {
  display: none;
}
#inputI {
  display: none;
}


#intro {
  grid-area: intro;
}
#idliketoBTNS{
  grid-area: searchBtns;
}
#modal {
  grid-area: modal;
  /* background-color: white; */
  height: 100%;
  width: 100%;
  z-index: 1;
}
.modal-textbox {
  background-color: peachpuff;
  border-radius: 20px;
  border: 5px solid darkolivegreen;
  height: 375px;
  width: 300px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: rgb(153, 172, 53);
  font-size: 23px;
  box-shadow: 30px 5px 5px palevioletred;
  /* position: fixed; */
  /* top: 10%;
  left: 10%; */
}
.modal-textbox:hover {
  box-shadow: 30px 5px 5px darkolivegreen; 
} 
.modal-textbox > h1 {
  /* font-family: "azote", serif; */
  font-weight: 400;
  font-style: normal;
  margin-bottom: -10px;
}


#bfast, #lunch, #dinner, #dessert {
  background-color: lightgreen;
  box-shadow: 10px 5px 5px rgb(96, 0, 48);
  border-radius: 10px;
  border: 1px solid lightgreen;
  height: 35px;
  width: auto;
  font-size: 25px;
  margin-top: 15px;
  /* font-family: azote, serif; */
  font-weight: 300;
  font-style: normal;
}
#bfast:hover, #lunch:hover, #dinner:hover, #dessert:hover {
  background-color: rgb(233, 139, 84);
  box-shadow: 10px 5px 5px darkolivegreen;
  cursor: pointer;
}







.carousel-container { 
  grid-area: carousel; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
}
.images {
  /* width: 95%;
  height: 100%; */
  border-radius: 10px;
  display: none;
  border: 10px solid rgb(107, 139, 107);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px white;
}
.images:hover {
  border: 10px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px var(--earthy-blue);
}
.images:first-of-type {
  display: block;
}

.prev, .nxt {
  border: .5px solid white;
  background-color: var(--seafoam-green);
  color: var(--dark-earthy-teal-blue);
  font-size: 20px;
  /* padding: 10px; */
  border-radius: 50px;
  box-shadow: 3px 3px 3px white;
  z-index: 1;
  /* height: auto;
  width: 30px;
  align-self: center; */
 
}
.prev {
  grid-area: prev; 
  justify-self: end;

}

.nxt {
  grid-area: nxt;
  justify-self: start;
}

.prev:hover {
  cursor: w-resize;
  background: var(--earthy-green);
  box-shadow: 3px 3px 3px 3px peachpuff;
  color: white;
}
.nxt:hover {
  cursor: e-resize;
  background: var(--earthy-green);
  box-shadow: 3px 3px 3px 3px peachpuff;
  color: white;
}

#burnEnergy {
  grid-area: burnBtn;
}

@media only screen and (min-width: 600px) { 
  body {
      grid-template-rows: auto 225px 80px auto 50px;
  }
  .modal-textbox {
      height: 375px;
      width: 400px;
      font-size: 23px;
      position: relative;
      top: 20%;
      left: 20%;
  }
}
@media only screen and (min-width: 930px){
  .modal-textbox {
      height: 375px;
      width: 550px;
      margin: 150px auto;
      padding: 10px;
      position: fixed;
      top: 10%;
      left: 30%;
  }
  .modal-textbox > h1 {
      font-size: 85px;
      margin-bottom: -10px;
  }
}